<!DOCTYPE html>
<!--[if IE 8]>    <html class=" no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class=" no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=" no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <title>Gemsperience.me | personal jewellery advisor | custom-designed jewellery | exclusive prices</title>

    
        <link rel="stylesheet" href="css/main.css">
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montez&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <meta name="description" content="So far unknown feeling of joy when buying jewellery. Every jewel we create is unique. Custom-designed jewellery. Your personal advisor – anytime, anywhere. Exclusive member prices. Let's discuss and realize your ideas."/>
  </head>
<body>


<!-- Calling macro in html -->
<!--  -->


<!-- Calling macro in html -->
<!--  -->




 
	<header class="header-main header-main--fixed">
    <div class="o-container">
        <a href="index.html" class="header-main__logo scrollTo"><img src="images/logo.svg" alt="logo"></a>
          
        <div class="right-nav o-flex o-flex--center">
            <a href="javascript:void(0)" class="header-main__bars">
                <span class="fa fa-bars"></span>
            </a>  
        	<nav class="header-nav">  
        	    <ul class="nav__list o-flex o-flex--center">
        	        <li class="nav__list-item">
                        <a href="index.html" class="nav__link scrollTo">Home</a>
                    </li>
                    <li class="nav__list-item"> 
                        <a href="index.html#about" class="nav__link scrollTo">About</a>
                    </li>
                    <li class="nav__list-item"> 
                        <a href="products.html" class="nav__link scrollTo">Products</a>
                    </li>
                    <li class="nav__list-item"> 
                        <a href="index.html#experience" class="nav__link scrollTo">Experience</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="index.html#contact" class="nav__link scrollTo">Contact</a>
                    </li>
        	    </ul> 
        	</nav>
        	<a href="javascript:;" data-lang="de" class="nav__link header-main__change-lang">DE</a>
        </div>
    </div>
</header>
	<main> 

		<section class="blog u-text-center">
			<div class="o-container">
				<div class="blog-header">
					<h1 class="h4">GEMSPERIENCE BLOG</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et purus porta lacus vulputate 
					pellentesque ac vitae erat. Aliquam erat volutpat. Integer luctus elementum venenatis. Sed 
					nisl quam, tempor non nisi eu, interdum fringilla augue.</p>
				</div>

				<article>
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="blog__item" style="background-image: url('images/blog-img.jpg');">
								<div class="blog__item-content">
									<p>05/06/2020</p>
									<h2 class="h4">Lorem ipsum dolor sit 
									amet  Blog Post Title </h2>
									<a href="single-blog.html" class="read-more clr-pink">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="blog__item" style="background-image: url('images/blog-img.jpg');">
								<div class="blog__item-content">
									<p>05/06/2020</p>
									<h2 class="h4">Lorem ipsum dolor sit 
									amet  Blog Post Title </h2>
									<a href="single-blog.html" class="read-more clr-pink">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="blog__item" style="background-image: url('images/blog-img.jpg');">
								<div class="blog__item-content">
									<p>05/06/2020</p>
									<h2 class="h4">Lorem ipsum dolor sit 
									amet  Blog Post Title </h2>
									<a href="single-blog.html" class="read-more clr-pink">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="blog__item" style="background-image: url('images/blog-img.jpg');">
								<div class="blog__item-content">
									<p>05/06/2020</p>
									<h2 class="h4">Lorem ipsum dolor sit 
									amet  Blog Post Title </h2>
									<a href="single-blog.html" class="read-more clr-pink">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="blog__item" style="background-image: url('images/blog-img.jpg');">
								<div class="blog__item-content">
									<p>05/06/2020</p>
									<h2 class="h4">Lorem ipsum dolor sit 
									amet  Blog Post Title </h2>
									<a href="single-blog.html" class="read-more clr-pink">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="blog__item" style="background-image: url('images/blog-img.jpg');">
								<div class="blog__item-content">
									<p>05/06/2020</p>
									<h2 class="h4">Lorem ipsum dolor sit 
									amet  Blog Post Title </h2>
									<a href="single-blog.html" class="read-more clr-pink">Read more</a>
								</div>
							</div>
						</div>

					</div>
				</article>

			</div>
		</section>


	</main>
	<footer class="footer-main">
	<div class="o-container u-text-center">
		<ul>
			<li><a href="faq.html">FAQ</a></li>
			<li class="dividers">/</li>
			<li><a href="legal_disclosure.html">LEGAL DISCLOSURE</a></li>
			<li class="dividers">/</li>
			<li><a href="privacy_policy.html">PRIVACY POLICY</a></li>
		</ul>
		<small>&copy; Gemsperience UG (haftungsbeschränkt). 2020 all rights reserved.</small>
	</div>
</footer>





		<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--<![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.smooth-scroll.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.validate.extensions.js"></script>
    <script src="js/typer.js"></script>
    <script src="js/init.min.js"></script>

	<script>
		
	</script>




  </body>
</html>

